<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="js/prism.js"></script>
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>


    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
        });
          $(document).ready(function(){
            $('.datepicker').datepicker({
              format:'dd-mm-yyyy',
            i18n:{
              months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
              monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
              weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
              weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
              weekdaysAbbrev:	['D','S','T','Q','Q','S','S'],
              today: 'Hoje',
              clear: 'Limpar',
              close: 'Pronto',
              labelMonthNext: 'Próximo mês',
              labelMonthPrev: 'Mês anterior',
              labelMonthSelect: 'Selecione um mês',
              labelYearSelect: 'Selecione um ano',
              selectMonths: true,
              selectYears: 15,
              cancel: 'Cancelar',
              clear: 'Limpar'
            }
            });
        });


    </script>


</head>
<br>
<nav class="colorHome" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="img/senaclogo-tipo.png"></a>
        <div sec:authorize="isAnonymous()">
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' th:href="@{/login}" style="width:125px">Login</a>
                </div>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <ul class="right hide-on-med-and-down">
                    <div class="col sl s2">
                        <a class='center' th:href="@{/logout}" style="width:125px">Sair</a>
                    </div>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown1' style="width:125px">MENU</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/agendamento">Agendamento</a></li>
                        <li><a href="/cadastroDeCurso">Curso</a></li>
                        <li><a href="#!">Sala</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<br><br><br>
<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="post" th:object="${curso}" th:action="@{/salvarAgendamento}">

                            <div class="container">
                                <h4 class="header2">Agendamento</h4>

                                <div class="row">
                                    <div class="input-field col s6 ">
                                        <input disabled id="ofertaCurso" name="ofertaCurso" type="text"
                                               th:value="${curso.ofertaCurso}">
                                        <label for="ofertaCurso">Oferta de curso</label>
                                    </div>


                                    <div class="input-field col s6">
                                        <input disabled id="nomeCurso" name="nomeCurso" type="text" class="validate"
                                               th:value="${curso.nomeCurso}">
                                        <label for="nomeCurso">Nome do curso</label>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="cargaHoraria" name="cargaHoraria" type="text"
                                               th:value="${curso.cargaHoraria}">
                                        <label for="cargaHoraria">Carga Horaria</label>
                                    </div>

                                    <div class="input-field col s12">
                                        <select id="selecionarSala" th:field="*{sala}">
                                            <option value="" disabled selected>Selecione o sala</option>
                                            <option th:each="sala : ${salas}" th:value="${sala.id}"
                                                    th:text="${sala.nomeSala}"></option>
                                        </select>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="capacidade" name="capacidade" type="number">
                                            <label for="capacidade">Capacidade</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="horasDia" name="horasDia" type="number">
                                            <label for="horasDia">Horas</label>
                                        </div>

                                        <div class="input-field col s6">
                                            <input id="dataInicio" name="dataInicio" type="text" class="datepicker">
                                            <label for="dataInicio">Data</label>
                                        </div>
                                    </div>

                                    <div class="row" align="center">
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Segunda"/>
                                                <span><b>Segunda</b></span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Terça"/>
                                                <span><b>Terça</b></span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Quarta"/>
                                                <span><b>Quarta</b></span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Quinta"/>
                                                <span><b>Quinta</b></span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Sexta"/>
                                                <span><b>Sexta</b></span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="col">
                                                <input name="diasDaSemana" type="checkbox" th:value="Sabado"/>
                                                <span><b>Sabado</b></span>
                                            </label>
                                        </p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label" for="Cadastrar"></label>
                                    <div align="right " class="col-md-12" style="width: 97%;">
                                        <a th:href="@{/salvarAgendamento}" id="Cancelar" name="Cancelar"
                                           class="btn btn-danger red accent-4"
                                           style="margin-rigth: 7px;">Cancelar</a>
                                        <button style="margin-rigth: 7px;" id="Cadastrar" name="Cadastrar"
                                                class="btn btn-primary light-blue darken-4" type="Submit">Cadastrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>