<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var $campocapacidadeSala = $("#capacidadeSala");
            $campocapacidadeSala.mask('00000');
        });
        $(document).ready(function () {
            var $campoOfertaSala = $("#ofertaSala");
            $campoOfertaSala.mask('0000000000');
        });
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
        });
    </script>
</head>
<body>
<nav class="colorHome" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/"  class="brand-logo"><img src="img/senaclogo-tipo.png"></a>
        <div sec:authorize="isAnonymous()">
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' th:href="@{/login}" style="width:125px">Login</a>
                </div>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <ul class="right hide-on-med-and-down">
                    <div class="col sl s2">
                        <a class='center' th:href="@{/logout}" style="width:125px">Sair</a>
                    </div>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown1' style="width:125px">Listagem</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/listagemCurso">Curso</a></li>
                        <li><a href="/listagemSala">Sala</a></li>
                    </ul>
                </div>
            </ul>

            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown2' style="width:125px">Menu</a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="/agendamento">Agendamento</a></li>
                        <li><a href="/cadastroDeCurso">Cadastrar Curso</a></li>
                        <li><a href="/cadastroDeSala">Cadastrar Sala</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>


<br><br><br>
<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="post" th:object="${sala}" th:action="@{/cadastrarSala}">
                            <div class="container">
                                <div th:if="${mensagemCadastroErro}" align="center" class="card-panel deep-orange accent-4" role="alert">
                                    <h6 class="alert-heading" th:text="${mensagemCadastroErro}"></h6>
                                </div>
                                <div th:if="${mensagemCadastro}" align="center" class="card-panel green" role="alert">
                                    <h6 class="alert-heading" th:text="${mensagemCadastro}"></h6>
                                </div>
                                <h4 class="header2">Cadastro de sala</h4>
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <input id="nomeSala" name="nomeSala" type="text" maxlength="50">
                                        <label for="nomeSala">Nome da sala</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <input id="blocoSala" name="blocoSala" type="text" maxlength="50">
                                        <label for="blocoSala">Bloco da sala</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="capacidadeSala" name="capacidadeSala" type="number" min="1"max="200">
                                        <label for="capacidadeSala">Capacidade da sala</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="categoriaSala" name="categoriaSala" type="text">
                                        <label for="categoriaSala">Categoria da sala</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="descricaoSala" name="descricaoSala" class="materialize-textarea" type="text" maxlength="500"></textarea>
                                        <label for="descricaoSala">Descrição da sala</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label" for="Cadastrar"></label>
                                    <div align="right " class="col-md-12" style="width: 97%;">
                                        <a th:href="@{/listagemSala}" id="Cancelar" name="Cancelar" class="btn btn-danger red accent-4" style="margin-rigth: 7px;">Cancelar</a>
                                        <button style="margin-rigth: 7px;" id="Cadastrar" name="Cadastrar" class="btn btn-primary light-blue darken-4" type="Submit">Cadastrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>