<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>



    <script>
              $(document).ready(function(){
var $campoCargaHoraria = $("#cargaHoraria");
$campoCargaHoraria.mask('00000');
});
        $(document).ready(function(){
var $campoOfertaCurso = $("#ofertaCurso");
$campoOfertaCurso.mask('0000000000');
});
$(document).ready(function () {
            $('.dropdown-trigger').dropdown();
});

    </script>


</head>
<body>
<nav class="colorHome" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/"  class="brand-logo"><img src="img/senaclogo-tipo.png"></a>
        <div sec:authorize="isAnonymous()">
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' th:href="@{/login}" style="width:125px">Login</a>
                </div>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <ul class="right hide-on-med-and-down">
                    <div class="col sl s2">
                        <a class='center' th:href="@{/logout}" style="width:125px">Sair</a>
                    </div>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown1' style="width:125px">Listagem</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/listagemCurso">Curso</a></li>
                        <li><a href="/listagemSala">Sala</a></li>
                    </ul>
                </div>
            </ul>

            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown2' style="width:125px">Menu</a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="/agendamento">Agendamento</a></li>
                        <li><a href="/cadastroDeCurso">Cadastrar Curso</a></li>
                        <li><a href="/cadastroDeSala">Cadastrar Sala</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="post" th:object="${curso}" th:action="@{/salvarEdicaoCurso/{id}(id=${curso.id})}">
                            <div class="container">
                                <h4 class="header2">Cadastro de curso</h4>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label disabled for="ofertaCurso">Oferta do Curso</label>
                                        <input id="ofertaCurso" type="number" name="ofertaCurso" th:value="${curso.ofertaCurso}">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field inline col s12">
                                        <input id="nomeCurso" type="text" name="nomeCurso" th:value="${curso.nomeCurso}">
                                        <label for="nomeCurso">Nome do Curso</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="cargaHoraria" type="number" name="cargaHoraria"  th:value="${curso.cargaHoraria}" pattern="[0-9]*">
                                        <label for="cargaHoraria"><b>Carga horaria</b></label>
                                    </div>
                                </div>

                                <div class="row container">
                                    <p>
                                        <label class="col">
                                            <input name="turno" type="radio" th:value="Manhã" th:field="${curso.turno}" />
                                            <span><b>Manhã</b></span>
                                        </label>
                                    </p>
                                    <p>
                                        <label class="col">
                                            <input name="turno" type="radio"  th:value="Tarde"  th:field="${curso.turno}" />
                                            <span><b>Tarde</b></span>
                                        </label>
                                    </p>
                                    <p>
                                        <label class="col">
                                            <input name="turno" type="radio"  th:value="Noite"  th:field="${curso.turno}"/>
                                            <span><b>Noite</b></span>
                                        </label>
                                    </p>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label" for="Cadastrar"></label>
                                    <div align="right " class="col-md-12" style="width: 97%;">
                                        <a th:href="@{/}" id="Cancelar" name="Cancelar" class="btn btn red accent-4"
                                           style="margin-rigth: 7px;">Cancelar</a>
                                        <button style="margin-rigth: 7px;" id="Cadastrar" name="Cadastrar"
                                                class="btn btn  indigo darken-4"
                                                type="Submit">Editar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>