<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Senac Agenda</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
        });
    </script>
</head>

<body>

<nav class="colorHome" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/"  class="brand-logo"><img src="img/senaclogo-tipo.png"></a>
        <div sec:authorize="isAnonymous()">
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' th:href="@{/login}" style="width:125px">Login</a>
                </div>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <ul class="right hide-on-med-and-down">
                    <div class="col sl s2">
                        <a class='center' th:href="@{/logout}" style="width:125px">Sair</a>
                    </div>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown1' style="width:125px">Listagem</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/listagemCurso">Curso</a></li>
                        <li><a href="/listagemSala">Sala</a></li>
                    </ul>
                </div>
            </ul>

            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown2' style="width:125px">Menu</a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="/agendamento">Agendamento</a></li>
                        <li><a href="/cadastroDeCurso">Cadastrar Curso</a></li>
                        <li><a href="/cadastroDeSala">Cadastrar Sala</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>


<div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="img/senac-araraquara4.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                        incorporate our custom components. Additionally, we refined animations and transitions to
                        provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a
                        framework that incorporates components and animations that provide more feedback to users.
                        Additionally, a single underlying responsive system across all platforms allow for a more
                        unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help
                        new users get started. We are also always open to feedback and can answer any questions a user
                        may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="img/senac-araraquara4.jpg" alt="Unsplashed background img 2"></div>
</div>

<footer class="page-footer">
        <div class="">
            <!--Sobre nós-->
            <div class="container">
                <div class="col  l8 s12">
                    <h4 class="center">"O sucesso de um projeto é o resultado de uma grande equipe"</h4>
                </div>

                <div class="row">
                    <div class="card-panel indigo darken-2 col s6 " >
                        <h5 class="white-text center">Contatos</h5>
                        <ul>
                            <table class="centered">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Linkedin</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Alysson Godoy</td>
                                    <td ><a id="linkdin-0" href="https://www.linkedin.com/in/alysson-godoy-a385b1174/"  class="brand-logo"><img src="img/icone-link.png"   width="15px" height="15px"></a></td>
                                </tr>
                                <tr>
                                    <td>Edmar Bastos</td>
                                    <td><a id="linkdin-1" href="https://www.linkedin.com/in/edmar-bastos-motos-3b4019163/"  class="brand-logo"><img src="img/icone-link.png" href="/" width="15px" height="15px"></a></td>
                                </tr>
                                <tr>
                                    <td>Eduardo Pereira</td>
                                    <td><a id="linkdin-2" href="https://www.linkedin.com/in/eduardo-pereira-6a88b2196/" class="brand-logo"><img src="img/icone-link.png"  width="15px" height="15px"></a></td>
                                </tr>
                                <tr>
                                    <td>João Balduino</td>
                                    <td><a id="linkdin-3" href="https://www.linkedin.com/in/jo%C3%A3o-victor-balduino-563414186/"  class="brand-logo"><img src="img/icone-link.png"   width="15px" height="15px"></a></td>
                                </tr>
                                <tr>
                                    <td>João Trindade</td>
                                    <td><a id="linkdin-4" href="https://www.linkedin.com/in/jo%C3%A3o-victor-trindade-b50b03166/" class="brand-logo"><img src="img/icone-link.png"   width="15px" height="15px"></a></td>
                                </tr>
                                <tr>
                                    <td>Pedro Rogge</td>
                                    <td><a id="linkdin-5" href="https://www.linkedin.com/in/pedro-rogge-2a6a54173/"  class="brand-logo"><img src="img/icone-link.png"   width="15px" height="15px"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                    <div class="card-panel indigo darken-2 col s6 ">
                        <h5 class="white-text center">Docentes</h5>
                        <ul>
                            <table class="centered">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Marcos Santana</td>
                                </tr>
                                <tr>
                                    <td>Tailiny Pereira</td>
                                </tr>
                                <tr>
                                    <td>André Mendes</td>
                                </tr>
                                <tr>
                                    <td>Ari Thomazine</td>
                                </tr>
                                <tr>
                                    <td>Leonardo Vasques</td>
                                </tr>
                                <tr>
                                    <td>Eder Santos</td>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
                <br><br><br>
                <div class="card-panel blue darken-1 col  l8 s12">
                    <h6 class="black-text">Um projeto criado pelos alunos do Senac, Técnico em informática 2017 noite.
                    </h6>
                    <h6 class="black-text">
                        Esse projeto foi criado com o intuíto de facilitar o serviço dos  cordenadores e docentes da unidade.
                    </h6>
                    <h4 class="black-text center">
                        Seja Bem-vindo ao "Agenda Senac"
                    </h4>
                </div>
        </div>



    <div class="footer-copyright center">
        <div class="container">
            <h6 class="center">Copyright © 2017-2019. Todos os Direitos Reservados</h6>
        </div>
    </div>

</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
