<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
        });
    </script>
</head>
<body>
<nav class="colorHome" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/"  class="brand-logo"><img src="img/senaclogo-tipo.png"></a>
        <div sec:authorize="isAnonymous()">
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' th:href="@{/login}" style="width:125px">Login</a>
                </div>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <ul class="right hide-on-med-and-down">
                    <div class="col sl s2">
                        <a class='center' th:href="@{/logout}" style="width:125px">Sair</a>
                    </div>
                </ul>
            </div>
            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown1' style="width:125px">Listagem</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/listagemCurso">Curso</a></li>
                        <li><a href="/listagemSala">Sala</a></li>
                    </ul>
                </div>
            </ul>

            <ul class="right hide-on-med-and-down">
                <div class="col sl s2">
                    <a class='dropdown-trigger center' data-target='dropdown2' style="width:125px">Menu</a>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="/agendamento">Agendamento</a></li>
                        <li><a href="/cadastroDeCurso">Cadastrar Curso</a></li>
                        <li><a href="/cadastroDeSala">Cadastrar Sala</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div th:if="${mensagemEdicao}" align="center" class="card-panel teal lighten-2" role="alert">
    <h4 class="alert-heading" th:text="${mensagemEdicao}"></h4>
</div>
<div th:if="${mensagemCadastroErro}" align="center" class="card-panel red" role="alert">
    <h4 class="alert-heading" th:text="${mensagemCadastroErro}"></h4>
</div>
<div th:if="${mensagemExclusao}" align="center" class="card-panel teal lighten-2" role="alert">
    <h4 class="alert-heading" th:text="${mensagemExclusao}"></h4>
</div>

<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="col s12 m12 l12">
                <table class="striped" id="listagemCurso">
                    <thead style="indigo darken-4" >
                    <tr>
                        <th  data-field="col">Nome da sala</th>
                        <th  data-field="col">Bloco</th>
                        <th  data-field="col">Capacidade</th>
                        <th  data-field="col">Categoria</th>
                        <th  data-field="col">Descrição</th>
                        <th  data-field="col">Editar</th>
                        <th  data-field="col">Excluir</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="sala : ${salas}">
                        <td><span th:text="${sala.nomeSala}"></span>
                        <td><span th:text="${sala.blocoSala}"></span></td>
                        <td><span th:text="${sala.capacidadeSala}"></span></td>
                        <td><span th:text="${sala.categoriaSala}"></span></td>
                        <td><span id="limitCaracter" th:text="${sala.descricaoSala}"></span></td>

                        <td><a class="btn-floating green accent-4" th:href="@{/editarSala/{id} (id=${sala.id})}"
                               title="Editar sala">
                            <i class="material-icons">edit</i></a></td>
                        <td><a class="btn-floating red accent-4" th:href="@{/excluirSala/{id} (id=${sala.id})}" title="Excluir sala">
                            <i class="material-icons">delete</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
$('#listagemCurso').DataTable({
"language": {

"lengthMenu": "",
"zeroRecords": "Nada encontrado",
"info": "Mostrando página _PAGE_ de _PAGES_",
"infoEmpty": "Nenhum registro disponível",
"infoFiltered": "(filtrado de _MAX_ registros no total)",
"search": "Pesquisar descrição do curso:",
"paginate": {
"first": "Primeira",
"last": "Última",
"next": "Próxima",
"previous": "Anterior"
}
}
});
});


</script>
</body>
</html>